@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!--privacy page information-->

<p>
    <strong>This Privacy Policy explains how we collect, use, and protect the personal information of our website visitors. By using our website, you consent to the practices outlined in this policy.</strong>
</p>

<p>
    <strong>Personal Information:</strong> We may collect personal information, such as your name, email address, or contact details when you voluntarily provide it to us through forms or other means.
</p>
<p>
    <strong>Automatically Collected Information:</strong> We may collect certain information automatically when you visit our website, such as your IP address, browser type, referring website, pages viewed, and the dates/times of your visits.
</p>
<p>
    <strong>Use of Information:</strong> We may use the personal information you provide to respond to your inquiries, fulfill your requests, or provide relevant information about our products/services.
    We may use automatically collected information to analyze trends, administer the website, track users' movements, and gather demographic information.
    We will not sell, rent, or share your personal information with third parties for their marketing purposes.
</p>

<p>
    <strong>Cookies and Tracking Technologies:</strong>
    We may use cookies and similar tracking technologies to enhance your browsing experience and collect additional information about your usage patterns on our website.
</p>

<p>
    <strong>Third-Party Links:</strong>
    Our website may contain links to third-party websites or services. We are not responsible for the privacy practices or the content of those third-party sites.
</p>
<p>
    <strong>Data Security:</strong>
    We implement reasonable security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.
</p>
<p>
    <strong>Children's Privacy:</strong>
    Our website is not intended for children under the age of 13. We do not knowingly collect personal information from children under the age of 13.
</p>
<p>
    <strong>Changes to this Privacy Policy:</strong> We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective when posted on this page.
</p>

<p>
    <strong>Contact Us:</strong> admin@cybersafe.com
</p>

<p>
    If you have any questions or concerns about this Privacy Policy or our practices, please contact us using the contact information provided on our website.
</p>
